@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Inter:wght@400;500;700;900&display=swap");

:root {
  --pink: #ff1493;
  --yellow: #ffe600;
  --black: #090909;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;

  font-family: "Inter", sans-serif;

  color: white;

  background-image:
    linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url("/leopard.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  background-attachment: fixed;
}

h1,
h2,
h3 {

  font-family: "Permanent Marker", cursive;

  text-transform: uppercase;

  font-style: italic;

  color: var(--pink);

  text-shadow:
    3px 3px black,
    0 0 15px hotpink;

}

a{
  color:white;
}