@import url("https://fonts.googleapis.com/css2?family=ui-sans-serif:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "tailwindcss";

:root {
  --pink: #ff1493;
  --yellow: #ffe600;
  --black: #090909;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;

  font-family: "Menlo", monospace;

  color: white;

  background-image:
    linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)),
    url("/leopard.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  background-attachment: fixed;
}

@font-face {
  font-family: "Lost in South";
  src:url("/fonts/Lost in South.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

h1 {

  font-family: "Permanent Marker", cursive;

  color: var(--pink);
  font-size: 3rem;
  line-height: 1;

  text-shadow:
    3px 3px black,
    0 0 15px hotpink;

}

h2,
h3 {

  font-family: "Permanent Marker", cursive;
  color: var(--white);
  letter-spacing: 3px;
  line-height: 1;
  font-size: 2rem;

}

a{
  color:white;
}